@charset "UTF-8";
/* CSS Document */

@viewport {
    zoom: 1.0;
    width: extend-to-zoom;
} 

img, video, canvas
{
max-width:100%;
}

/*section header - t ex Malmö, På Ladet, Melodifestivalen etc*/
#section_header
{
text-align:center;
color:#FFF;
font-family: Arial;
font-size: 14px;
font-weight: bold;
border-bottom-width: 1px;
padding-top: 0.3em;
padding-right-value: 0.3em;
padding-bottom: 0.3em;
padding-left-value: 0.3em;
background: -moz-linear-gradient(center top , #99BEDE, #7CA1C2) repeat scroll 0% 0% #8AAFD3;
background-color: #8AAFD3;
background-image: -moz-linear-gradient(center top , #99BEDE, #7CA1C2);
background-repeat: repeat;
background-attachment: scroll;
background-position: 0% 0%;
background-clip: border-box;
background-origin: padding-box;
background-size: auto auto;
text-shadow: 0px 1px 1px #3E6790;
border-bottom-width: 1px;
border-top-width: 1px;
border: 1px solid #456F9A;
}

/*article image - inställningar för artikelbild*/
#article_image
{
border: 0px;
}

#image_byline
{
font: 80% Arial;
font-family: Arial;
font-style: normal;
font-variant: normal;
font-weight: normal;
font-size: 80%;
line-height: normal;
font-size-adjust: none;
font-stretch: normal;
-x-system-font: none;
-moz-font-feature-settings: normal;
-moz-font-language-override: normal;
text-shadow: 0px 1px 0px #FFF;
color: #333;
}


/*end article image*/

/*begin intro*/
#article_title
{
font-family: Arial;
font-style: normal;
font-variant: normal;
font-weight: bold;
font-size: 160%;
line-height: normal;
font-size-adjust: none;
font-stretch: normal;
-x-system-font: none;
-moz-font-feature-settings: normal;
-moz-font-language-override: normal;
margin-top: 0.5em;
margin-right-value: 0px;
margin-bottom: 0.5em;
margin-left-value: 0px;
margin-left-ltr-source: physical;
margin-left-rtl-source: physical;
margin-right-ltr-source: physical;
margin-right-rtl-source: physical;
color: #333;
text-shadow: 0px 1px 0px #FFF;	
}

#article_byline
{
font-family: Helvetica,Arial,sans-serif;
font-size: 80%;
text-color: #708090;
border-bottom-width: 0.0em;
border-bottom-style: solid;
border-bottom-color: #CCC;
clear: both;
padding-top: 0.3em;
padding-right-value: 0px;
padding-bottom: 0.3em;
padding-left-value: 0px;
padding-left-ltr-source: physical;
padding-left-rtl-source: physical;
padding-right-ltr-source: physical;
padding-right-rtl-source: physical	
border-top-width: 0.3em;
border-top-style: solid;
border-top-color: #CCC;
}


#published_date
{
font-family: Helvetica,Arial,sans-serif;
font-size: 80%;
text-color: #708090;
border-bottom-width: 0.3em;
border-bottom-style: solid;
border-bottom-color: #CCC;
clear: both;
padding-top: 0.3em;
padding-right-value: 0px;
padding-bottom: 0.3em;
padding-left-value: 0px;
padding-left-ltr-source: physical;
padding-left-rtl-source: physical;
padding-right-ltr-source: physical;
padding-right-rtl-source: physical;
}

/*begin ingress*/
#ingress_text
{
font-family: Arial;
font-style: normal;
font-variant: normal;
font-weight: bold;
font-size: 100%;
line-height: normal;
font-size-adjust: none;
font-stretch: normal;
-x-system-font: none;
-moz-font-feature-settings: normal;
-moz-font-language-override: normal;
color: #333;
text-shadow: 0px 1px 0px #FFF;	
}



#share_box_top
{
text-align:center;
float: center;	
}


#article_text
{
font-family: Helvetica,Arial,sans-serif;
color: #333;	
}

#article_content {
    border: 1px solid #333;
    overflow:hidden;
    
}

#faktabox {
    border: 1px solid #333;
    clear: none;
    width: 130px;
    float:right;
}

#article_text {
    border: 1px solid #333;
}

#article_text {
    word-break:break-all;
}

#share_box_bottom {
    text-align: center;
    font-family: Helvetica,Arial,sans-serif;
    font-weight: bold;
    color:#FFF;
    text-shadow: 0px 1px 1px #194B7E;
    display: block;
    padding-top: 0.6em;
    padding-right-value: 20px;
    padding-bottom: 0.6em;
    border-radius: 1em;
    border-top: 1px solid rgba(255, 255, 255, 0.3);
    border-color: rgba(255, 255, 255, 0.3);
    box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.3);
    border: 1px solid #044062;
    background: linear-gradient(#5F9CC5, #396B9E) repeat scroll 0% 0% #396B9E;
}


